@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #0a0a0a;
  color: #d4d4d4;
  line-height: 1.8;
}

main {
  max-width: 650px;
  margin-right: auto;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #fff;
}

h1 {
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
}

// prose style

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: #404040;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.c {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 0 1px #3d3d3d;
  margin-top: 20px;
}

.ca {
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.cb {
  background-color: #fff;
  border-radius: 4px;
  height: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: max-content;
  box-shadow: var(--shadow-medium);
  color: #000;
  transition: all 0.2s ease;
}

.cc {
  text-decoration: none;
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.7ã‚5em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.prose ul {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: #525252;
}

.prose pre {
  border-width: 1px;
  border-color: #3d3d3d;
  background-color: #171717;
}

.prose a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #525252;
  text-underline-offset: 2px;
}
